
.ipbrand{
	padding-top:120px;
}
.iptitle{
	text-align:center;
	font-size:36px;
	color:#333333;
	font-weight:bold;
	text-indent:-18px;
}
.iptitle span{
	border-bottom:2px solid #333333; 
	
}
.ipbrand ul {
	display:table;
	width:100%;
	margin-top:90px;
}
.ipbrand ul li{
	float:left;
	width: 20%;
	/* width:166px;
	height:166px;
	margin:0 25px;
	border-radius:50%;
	background-color:white;
    box-shadow:0 0 1px 1px rgba(150,150,150,.12);  */
}
.ipbrand ul li a:hover{position: relative;text-align: center; top: -16%;transform: translate(0px, -16%);transition: .2s all;}
.ipbrand ul li a:hover img{transform:scale(1.1,1.1);}
.ipbrand ul li img{transition: 0.5s all;transform:scale(0.8,0.8);*width: 90%;}

.te_product{
	padding-top: 150px;
}
.te_product .te_2 {
	display:table;
	margin-top: 80px;
}
.te_product .te_2 .te_2_1{
	float:left;
	width:523px;
	height:511px;
	border: 1px solid rgb(150,150,150);
}
.te_product .te_2 .te_2_1:HOVER{
box-shadow:0 0 8px rgba(0,0,0,0.4);z-index:3;
}
.te_product .te_2 .te_2_2{
	float:left;
	width:523px;
	height:511px;
	 margin-left: 20px;
}
.te_product .te_2 .te_2_2 ul li{
	float:left;
	width:245px;
	height:245px;
	margin:0 15px 18px 0;
 	box-shadow:0 0 1px 1px rgba(150,150,150,.1); 
}
.te_product .te_2 .te_2_2 ul li:HOVER{
 	box-shadow:0 0 8px rgba(0,0,0,0.4);z-index:3;
}
.mo_resources{
	margin-top:	90px;
	margin-bottom:105px;
}
.mo_resources .mo_re{
	margin-top:80px;
	display:table;
}
.mo_resources {transition: 0.8s all;}
.mo_resources  h3,p{text-align: left;}
.mo_resources dl{ margin-top: 80px;}
.mo_resources dl dt,.h_news dl dd{float:left;display:inline;overflow:hidden;}
.mo_resources dl dt{overflow:hidden;width: 490px;position:relative;margin-right: 8px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box; }
.mo_resources dl dt:hover{box-shadow:0 0 8px rgba(0,0,0,0.4);z-index:3;}
.mo_resources dl dt a.news_pic{display:block;width:490px;height:400px;}
.mo_resources dl dt .h_newscont{text-align: left; width:490px;height:200px;padding:18px 20px;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box; background: #f3f3f3; position:relative;}
.mo_resources dl dt .h_newscont h4{font-size:18px;line-height:30px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.mo_resources dl dt .h_newscont p{font-size:14px;*width: 450px;line-height:22px;padding-top:5px;color:#666;height:138px;overflow:hidden;}
.mo_resources dl dd.h_s{margin-bottom: 9px; width:288px;overflow:hidden;position:relative;z-index:1;float: left;margin-right: 8px;}
.mo_resources dl dd.h_s a.news_pic{width:290px;height: 220px;display:block;background: transparent;}
.mo_resources dl dd.h_s .news_pic.fl{width: 345px;height: 259px;}
.mo_resources dl dd{margin-left:-1px;}
.mo_resources dl dd.h_s:hover{box-shadow:0 0 8px rgba(0,0,0,0.4);z-index:3;}
.h_s .h_newscont{text-align: left;padding:10px;height:110px;background: #f3f3f3;
box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;position:relative;}
.h_s .h_newscont h4{font-size:18px;font-weight:bold;line-height:22px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.h_s .h_newscont p{font-size:14px;line-height:22px;color:#666;padding-top:5px;height:64px;overflow:hidden;}
.mo_resources dl dd.h_h{float: none;width:582px;overflow:hidden;position:relative;z-index:1;}
.mo_resources dl dd.h_h img{*height:259px;}
.mo_resources dl dd.h_h a {width: 345px;height: 259px;}
.h_h:hover{box-shadow:0 0 8px rgba(0,0,0,0.4);z-index:3;}
.h_h .h_newscont{width:237px;height:259px;border-left:0;position:relative;*width: 220px;}
.h_h .h_newscont h4{padding: 30px 0 0;}
.h_h .h_newscont p{height:200px;overflow:hidden;}
.mo_resources dl dt .h_newscont .h_arrow{position:absolute;width:60px;height:30px;background:url(img/sanjiao1.png) no-repeat;background-size: 60px; z-index:3;left:34px;top:-29px;}
.mo_resources .h_s .h_arrow{position:absolute;width:60px;height:30px;background:url(img/sanjiao1.png) no-repeat;background-size: 36px; z-index:3;left:27px;top:-20px;}
.mo_resources .h_h .h_arrow{position:absolute;width:30px;height:80px;background:url(img/sanjiao2.png) no-repeat;background-size: 24px; z-index:3;left:-24px;top:19px;*left: -18px;}
.h_h .news_pic{width:300px;}
