
.module_title{
	width: 1098px;  
	margin-bottom: 60px; 
}  
.mt_thefirst{
	margin-top: 106px; 
	margin-bottom: 64px;
}
.actober10_little_title{
	text-align: center; 
	margin-bottom: 87px; 
}