<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:jee="http://www.springframework.org/schema/jee"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
 
		<!-- 验证码  --> 
	<bean id="captchaProducer" class="com.google.code.kaptcha.impl.DefaultKaptcha"> 
        <property name="config">  
            <bean class="com.google.code.kaptcha.util.Config">  
                <constructor-arg>  
                    <props>   
                        <prop key="kaptcha.border">no</prop>  
                        <prop key="kaptcha.border.color">105,179,90</prop>  
                        <prop key="kaptcha.textproducer.font.color">red</prop>  
                        <prop key="kaptcha.image.width">300</prop>  
                        <prop key="kaptcha.textproducer.font.size">90</prop>   
                        <prop key="kaptcha.image.height">100</prop>  
                        <prop key="kaptcha.session.key">code</prop>   
                        <prop key="kaptcha.textproducer.char.string">abcde2345678gfhjkymnprstuvwxABCDEFGHJKMNPQRSTUVWXY</prop>
                        <prop key="kaptcha.textproducer.char.length">4</prop>  
                        <prop key="kaptcha.textproducer.font.names">宋体,楷体,微软雅黑</prop>  
                    </props>  
                </constructor-arg>  
            </bean>  
        </property>  
    </bean> 
     
	<bean id="dbcp" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="username" value="root">
		</property> 
		<property name="password" value="sql12345">
		</property>
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://localhost:3306/mopow_user">
		</property>
		<property name="connectionProperties" value="useUnicode=yes;characterEncoding=utf8;"></property>
	</bean>
	<bean id="ssf" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dbcp">
		</property>
		<property name="mapperLocations"  value="classpath:cn/mopow/sql/*.xml">
		</property>
	</bean>
		
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="cn.mopow.dao">
		</property>
	</bean>

<context:component-scan
  base-package="cn.mopow"/>
<!-- handlernapping -->
<mvc:annotation-driven/>


</beans>